body {
  margin: 0 auto;
  max-width: 50em;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
}
body {
  line-height: 1.5;
  padding: 2em 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}
body {
  color: #556;
}
img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    float: right;
}
head {
    display: inline-block;
}
li {
    float:left;
}
ul {
    margin-right: 0.5em;
}
div.skills{
    padding-right: 50px;
}
