body {
  margin: 0 auto;
  max-width: 75em;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
}
body {
  line-height: 1.5;
  padding: 2em 1em;
}

h2 {
  margin-top: 0.25em;
  padding-top: 0.25em;
}
h4 {
  margin-top: 0.15em;
  padding-top: 0.15em;
}
body {
  color: #556;
  background-color: #fbfffa;
}
img {
    border-radius: 50%;
    width: 22em;
    height: 22em;
    float: right;
}
head {
    display: inline-block;
}
li {
    float:left;
}
ul {
    margin-right: 0.5em;
}
div.skills{
    padding-below: 1.9em;
    padding-right: 0.94em;
}
